analysis/graphics/
analysis/mat/
analysis/segmentation_results/
analysis/span_articulatory_strategies/
analysis/span_contour_processing/
analysis/manual_annotations
graphics/constrictions
graphics/mri
graphics/segmentation
graphics/templates
graphics/icc
graphics/histograms
graphics/data

tv_key.csv

*.mat
*.pdf
*.png
*.jpg
*.avi

*~
.DS_Store
.RData
.Rhistory
